<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FiqhApp{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/mon.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="combined-navbar">
        <div class="nav-top-row">
            <div class="logo">
                <span class="logo-primary">Fiqh</span><span class="logo-secondary">App</span>
            </div>
            <div class="nav-icons">
                <a href="#" class="nav-icon">
                    <i class="fas fa-bell"></i>
                    <span class="badge-notification">3</span>
                </a>
            </div>
        </div>
        
        <div class="nav-bottom-row">
            <div class="user-info">
                <div class="user-greeting">Salam,</div>
                <h1 class="user-name">{{ user.first_name|default:"Invité" }}</h1>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="content">
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>

    <!-- Bottom Navigation -->
    <nav class="bottom-navbar">
        <a href="{% url 'home' %}" class="nav-item" data-page="home">
            <i class="fas fa-home nav-icon-bottom"></i>
            <span>Accueil</span>
        </a>
        <a href="{% url 'recherche' %}" class="nav-item" data-page="explore">
            <i class="fas fa-compass nav-icon-bottom"></i>
            <span>Explorer</span>
        </a>
        <a href="#" class="nav-item" data-page="learning">
            <i class="fas fa-book-open nav-icon-bottom"></i>
            <span>Apprentissage</span>
        </a>
        <a href="{% url 'profile' %}" class="nav-item" data-page="profile">
            <i class="fas fa-user nav-icon-bottom"></i>
            <span>Profil</span>
        </a>
    </nav>

    <script src="#"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/mon.js' %}"></script>
</body>
</html>